snippet spa "[SPA-XXX] Ticket"
[SPA-${1:number}](https://propertybase.atlassian.net/browse/SPA-${2:$1})
endsnippet
snippet pho "[PHOENIX-XXX] Ticket"
[PHOENIX-${1:number}](https://propertybase.atlassian.net/browse/PHOENIX-${2:$1})
endsnippet
